---
import Layout from "../../layouts/Layout.astro";
import Image from '../../components/common/Image.astro';
import { Icon } from 'astro-icon/components';
import { getData } from '../../../server/database';

const data = await getData();

export async function getStaticPaths() {
    const post = await getData();

    return post.map((post) => ({
        params: { id: post._id },
    }));
}

const image =
  'https://images.contentstack.io/v3/assets/blt7151619cb9560896/bltc5d9ef93ba10b521/645a1689ddeef24daa14c071/shell-hero.svg';

---

<Layout>
    <article class={`max-w-md mx-auto md:max-w-none pb-10 ${image ? 'md:grid-cols-2' : ''}`}>
        {image && (
            <div class="relative h-0 pb-[56.25%] md:pb-[75%] md:h-72 lg:pb-[56.25%] overflow-hidden bg-gray-400 dark:bg-slate-700 rounded shadow-lg">
              {image && (
                <Image
                  src={image}
                  class="absolute inset-0 object-cover w-full h-full mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                  widths={[400, 900]}
                  width={900}
                  sizes="(max-width: 900px) 400px, 900px"
                  alt="alt"
                  aspectRatio="16:9"
                  loading="lazy"
                  decoding="async"
                />
              )}
            </div>
          </a>
        )}
        <div class="mt-2">
          <header>
            <div class="mb-1">
              <span class="text-sm">
                <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
                <!-- <time datetime={String(today)} class="inline-block">{getDate()}</time> -->
              </span>
            </div>

            <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
                  <!-- {item.title} -->
            </h2>
            <!-- <p class="flex-grow text-muted dark:text-slate-400 text-lg">{item.description}</p> -->
          </header>
          <footer class="mt-5" />
        </div>
    </article>
</Layout>
